#**Initiation à Python pour la Data Science**

## **Dr. Asmaa Bengueddach**
Université Oran 1 Ahmed Ben Bella  
Niveau : Master

---

## **Objectifs du TP :**
- Découvrir l'environnement Python.
- Manipuler les structures de données de base : variables, listes, tuples, dictionnaires.
- Utiliser les bibliothèques de base pour la Data Science (NumPy, Pandas).
- Lire et manipuler des jeux de données simples.
  
## **Prérequis :**
- Installation de Python (version 3.x).
- Installation de Jupyter Notebook (ou utilisation de Google Colab).
- Bibliothèques à installer : `numpy`, `pandas` (via `pip install numpy pandas`).

### **Partie 1 : Introduction à Python (Durée : 30 minutes)**

#### 1.1 **Variables et types de données**

1. Créer des variables pour stocker les informations suivantes :
   - Un entier : l'âge d'une personne.
   - Un nombre à virgule flottante : la taille en mètres.
   - Une chaîne de caractères : le nom de la personne.
   - Un booléen : vrai si la personne est majeure, faux sinon.

**Réponse:**

In [ ]:
# Créer les variables ici

2. **Exercice :** Écrire un programme qui demande à l'utilisateur de saisir son âge, puis afficher un message indiquant s'il est majeur ou non.

**Réponse:**

In [ ]:
# Créer les variables ici

#### 1.2 **Les listes et tuples**

1. Créer une liste contenant les âges de plusieurs personnes : `[25, 30, 18, 22, 35]`.
2. Ajouter un nouvel âge à la liste.
3. Afficher la longueur de la liste et trier celle-ci.

**Réponse:**

In [ ]:
# Créer et manipuler la liste ici

4. **Exercice :** Transformer la liste en tuple et afficher chaque élément du tuple.

**Réponse:**

In [ ]:
# Transformer la liste en tuple ici

#### 1.3 **Les dictionnaires**

1. Créer un dictionnaire pour stocker des informations sur une personne :
   - Clés : "nom", "âge", "taille".
   - Valeurs : remplissez ces champs avec des données de votre choix.

**Réponse:**

In [ ]:
# Créer le dictionnaire ici

2. **Exercice :** Ajouter une clé "ville" au dictionnaire, puis afficher toutes les informations sous la forme d'une phrase.

**Réponse:**

In [ ]:
# Ajouter la clé et afficher les infos ici

### **Partie 2 : Introduction à NumPy et Pandas (Durée : 1 heure)**

#### 2.1 **Manipulation de données avec NumPy**

1. Importer la bibliothèque NumPy.

In [ ]:
import numpy as np

2. Créer un tableau NumPy à partir de la liste des âges de la partie précédente.

**Réponse:**

In [ ]:
# Créer le tableau NumPy ici

3. **Exercice :** Calculer et afficher la moyenne, l'âge minimum et maximum à l'aide de NumPy.

**Réponse:**

In [ ]:
# Calculer et afficher les statistiques ici

#### 2.2 **Manipulation de données avec Pandas**

In [ ]:
import pandas as pd

2. Créer un DataFrame Pandas à partir d'un dictionnaire :

**Réponse:**

In [ ]:
# Créer le DataFrame ici

3. Afficher les premières lignes du DataFrame :

**Réponse:**

In [ ]:
# Afficher les premières lignes ici

4. **Exercice :** Ajouter une colonne "Taille" au DataFrame et calculer la taille moyenne.

**Réponse:**

In [ ]:
# Ajouter la colonne et calculer la moyenne ici

### **Partie 3 : Projet Mini-Data Science (Durée : 1 heure 30 minutes)**

#### 3.1 **Chargement d'un jeu de données**

1. **Exercice :** Télécharger un jeu de données (ex : [Iris dataset](https://archive.ics.uci.edu/ml/datasets/iris)) et charger-le dans un DataFrame Pandas.

**Réponse:**

In [ ]:
# Charger le jeu de données ici

2. **Exercice :** Afficher les statistiques descriptives du DataFrame avec la fonction `describe()`.

**Réponse:**

In [ ]:
# Afficher les statistiques ici

#### 3.2 **Analyse exploratoire des données**

1. **Exercice :** Utiliser Pandas pour répondre aux questions suivantes :
   - Combien de lignes et de colonnes comporte le DataFrame ?
   - Quelles sont les différentes espèces de fleurs présentes dans les données ?
   - Quelle est la longueur moyenne des pétales pour chaque espèce ?

**Réponse:**

In [ ]:
# Répondre aux questions ici

#### 3.3 **Visualisation des données avec Matplotlib**

1. Installer Matplotlib : `pip install matplotlib`.

2. **Exercice :** Créer un graphique en nuage de points (scatter plot) pour visualiser la relation entre la longueur et la largeur des sépales, en colorant les points en fonction de l'espèce.

In [ ]:
# Créer le graphique ici

Ce TP d'initiation à Python pour la Data Science vous permet de comprendre les bases du langage, d'utiliser des bibliothèques incontournables comme NumPy et Pandas, et d'explorer des jeux de données réels. Vous avez également pratiqué l'analyse et la visualisation de données, éléments clés de la Data Science.

---